.card .apparatus{
    display: flex;
    min-height: 225px;
    background-color: rebeccapurple;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    font-size: 0;
}
