/* Move List */
.move-tag, .move-link, .apparatus-link {
    text-decoration: none;
}
.move-link:hover, .apparatus-link:hover{
    text-decoration: underline;
}
.move-tag.bg-info:hover{
    background-color: #555 !important;
    color: white !important;
}

