/* Move detail page */
.move-thumbnails{
    display: flex;
}
.move-thumbnails > *{
    flex-basis: 150px; 
    height: 200px;
}

.carousel-caption {
    position: absolute;
    display: none;
    right: auto;
    bottom: 1.25rem;
    left: auto;
    padding: 1.25rem 10%;
    font-size: 0.8rem;
    text-align: left;
    background-color: rgba(255,255,255,0.75);
}
a:hover .carousel-caption{
    display: block;
}
.carousel-caption p {
    margin: 0;
    padding-left: 1.5rem;
    background: url(../icons/camera.svg) top left no-repeat;
}
.carousel-dark .carousel-caption {
    color: #666;
}